* {
  font-family: Helvetica;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  color: white;
  font-size: 18px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h3.design{
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.top,
.design {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}

.bottom {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
